.frameworks-text {
  margin: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  color: white;
  font-weight: bold;
}

.frameworks-component {
  background-color: #252422;
  width: 100%;
} 

/* .frameworks-component:hover {
  background-color: #252422;
  width: 100%;
  transition: 0.5s;
  border-top: 10px solid black;
} */

.frameworks-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: 16rem;
  background-color: #EB5E28;
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  transition: 0.5s;
}

.frameworks-card:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: 16rem;
  background-color: #EB5E28;
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: 0.5s;
  transform: scale(1.05)
}