.profile-component {
  margin: 0;
  background-color: #EB5E28;
  width: 100%;
}

.craig-profile-component {
  margin: 0;
  background-color: #EB5E28;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.education-container {
  display: flex;
  flex-direction: row;
  margin-left: 20rem;
  margin-right: 20rem;
  justify-content: center;
}

.education-component {
  margin: 0;
  padding-bottom: 3rem;
  background-color: #252422;
  width: 100%;
}

.work-component {
  margin: 0;
  padding-bottom: 3rem;
  background-color: #403D39;
  width: 100%;
}

.headings {
  color: white;
  margin: 0;
  padding-top: 2rem;
  padding-left: 2rem;
}

.content {
  color: white;
  margin: 0;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.education {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
}

.education-institute {
  margin: 0;
}

.education-text {
  margin-top: 0;
  margin-left: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.education-dates {
  margin: 0;
}

.education-qualification {
  width: 22rem;
}

.education-learnings {
  margin: 0;
  width: 26rem;
  padding: 10px;
}

.education-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
}


.profile-content {
  text-align: left;
  color: white;
  margin: 0;
}


.craig-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14.5rem;
  height: 13rem;
  background-color: #252422;;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  padding: 2rem;
  transition: 0.5s;
}

@media (min-device-width:320px) and (max-device-width:768px) {

  .headings {
    color: white;
    margin: 0;
    padding-top: 2rem;
    padding-left: 1rem;
  }

  .languages-cards-container {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .craig-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9rem;
    background-color: #252422;;
    border-radius: 0.5rem;
    padding: 1.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }  

  .profile-content {
    text-align: left;
    color: white;
    margin: 0;
    font-size: 12px;
  }

  .education-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
  }

  .education {
    margin: 0;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .education-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
  }

  .education-institute {
    margin: 0;
    text-align: center;
  }

  .education-text {
    margin: 0;
    margin-top: 1rem;
    font-size: 12px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .education-dates {
    margin: 0;
    text-align: center;
  }

  .education-qualification {
    width: 20rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .education-learnings {
    margin: 0;
    width: 14rem;
    padding-left:52px;
    text-align: left;
  }

}